{% extends 'base.html' %}
{% block title %}Пользователи{% endblock %}

{% block content %}
    <h3>{{ userinfo.user }}</h3>
    <img class="user_photo" src="{{ userinfo.photo.url }}" alt="user photo">
    <p>Телефон:<a href="#" id="phone_link">Показать телефон</a><span id="phone_number">{{ userinfo.phone }}</span></p>

    {% if userinfo.user == request.user %}
        <a href="{% url 'webapp:user_update' userinfo.pk %}" class="nav-link">Редактировать</a>
    {% endif %}
    <hr>

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Друзья</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Публикации</a>
        </div>
    </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                {% for friend in userinfo.friends.all %}
                    {{ friend }}<br>
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                {% for post in posts.all %}
                    <p><a href="{% url 'webapp:post_detail' post.pk %}">{{ post.title }}</a></p>
                {% endfor %}
            </div>
        </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $("#phone_number").hide();
            $("#phone_link").click(function () {
                $("#phone_link").hide();
                $("#phone_number").show();
            });
        });
    </script>

{% endblock %}